<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/Assets/icons/logo-movie-search.png" type="image/x-icon">
  <title>Pesquisa de Filmes</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- =============================
       Cabeçalho do site
       ============================= -->
  <header>
     <div class="logo-movie fade-in">
        <img src="/Assets/icons/logo-movie-search.png" alt="logo-movie-search" />
      </div>
    <h1>Pesquisa de Filmes</h1>
    <input type="text" id="searchInput" placeholder="Digite o nome do filme...">
    <button id="searchBtn">Pesquisar</button>
  </header>

  <!-- =============================
       Área onde os filmes aparecem
       ============================= -->
  <main id="movieContainer"></main>
  
  <!-- =============================
       Script principal
       ============================= -->
  <script src="script.js"></script> 
</body>

</html>
